* {
    background-color: black;
    color:white;
}
body {
    font-family: "Roboto" sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
img {
    width: 80%;
}
h1 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: #ffd88e;
}
h2 {
    color: white;
    text-transform: uppercase;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    color: red;
}
#main {
    background-color: black;
    color: white;
    padding: 0em 1em 1em;
    padding-top: 10px;
}
#footer {
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
}
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#items {
    float: left;
}
a:link,
a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: WHITE;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover,
a:active {
    color: #ff5c5c;
}
span {
    color: blue;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bold;
}
#name {
    color: red;
    text-transform: uppercase;
}
#hyperlink {
    display: inline;
    font-weight: 100;
    color: blue;
    background-color: white;
    padding: 0px;
    text-decoration: underline;
    text-transform: none;
}
TABLE {
    width: 100%;
    table-layout: fixed;
}
td {
    padding: 50px;
    vertical-align: top;
}
